@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply antialiased transition-all duration-700;
}

.weather-card {
  @apply bg-white/10 backdrop-blur-lg rounded-2xl shadow-2xl p-6 w-80 sm:w-96 text-center text-white border border-white/20 transition-all duration-300;
}

.weather-title {
  @apply text-xl sm:text-2xl font-semibold mb-3;
}

.weather-temp {
  @apply text-4xl sm:text-5xl font-bold mb-2;
}

.weather-desc {
  @apply text-base sm:text-lg capitalize text-pink-200;
}
